/activation.jar
/antlr-2.7.6.jar
/asm-3.3.jar
/asm-commons-3.3.jar
/asm-tree-3.3.jar
/c3p0-0.9.1.jar
/com.springsource.org.aopalliance-1.0.0.jar
/com.springsource.org.apache.commons.logging-1.1.1.jar
/com.springsource.org.apache.log4j-1.2.15.jar
/com.springsource.org.aspectj.weaver-1.6.8.RELEASE.jar
/commons-collections-3.1.jar
/commons-fileupload-1.3.jar
/commons-io-2.0.1.jar
/commons-lang3-3.1.jar
/commons-logging-1.1.3.jar
/dom4j-1.6.1.jar
/freemarker-2.3.19.jar
/hibernate-jpa-2.0-api-1.0.1.Final.jar
/hibernate3.jar
/javassist-3.11.0.GA.jar
/javassist-3.12.0.GA.jar
/jta-1.1.jar
/log4j-1.2.17.jar
/mail.jar
/mysql-connector-java-5.0.4-bin.jar
/ognl-3.0.6.jar
/slf4j-api-1.6.1.jar
/slf4j-log4j12-1.7.2.jar
/spring-aop-3.2.0.RELEASE.jar
/spring-aspects-3.2.0.RELEASE.jar
/spring-beans-3.2.0.RELEASE.jar
/spring-context-3.2.0.RELEASE.jar
/spring-core-3.2.0.RELEASE.jar
/spring-expression-3.2.0.RELEASE.jar
/spring-jdbc-3.2.0.RELEASE.jar
/spring-orm-3.2.0.RELEASE.jar
/spring-test-3.2.0.RELEASE.jar
/spring-tx-3.2.0.RELEASE.jar
/spring-web-3.2.0.RELEASE.jar
/struts2-core-2.3.15.3.jar
/struts2-json-plugin-2.3.15.3.jar
/struts2-spring-plugin-2.3.15.3.jar
/xwork-core-2.3.15.3.jar
